trunk/CMISSpaces/.wsdl/general/ObjectService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObjectService" targetNamespace="http://www.cmis.org/ns/1.0">
  <wsdl:import location="http://localhost:8080/alfresco/cmis/ObjectService?wsdl=ObjectServicePort.wsdl" namespace="http://www.cmis.org/2008/05">
    </wsdl:import>
  <wsdl:message name="createRelationshipResponse">
    <wsdl:part element="ns1:createRelationshipResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteObjectResponse">
    <wsdl:part element="ns1:deleteObjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllowableActionsResponse">
    <wsdl:part element="ns1:getAllowableActionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTreeResponse">
    <wsdl:part element="ns1:deleteTreeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part element="ns1:getPropertiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDocument">
    <wsdl:part element="ns1:createDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContentStream">
    <wsdl:part element="ns1:getContentStream" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setContentStreamResponse">
    <wsdl:part element="ns1:setContentStreamResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFolder">
    <wsdl:part element="ns1:createFolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFolderResponse">
    <wsdl:part element="ns1:createFolderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteContentStreamResponse">
    <wsdl:part element="ns1:deleteContentStreamResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDocumentResponse">
    <wsdl:part element="ns1:createDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTree">
    <wsdl:part element="ns1:deleteTree" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteContentStream">
    <wsdl:part element="ns1:deleteContentStream" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePropertiesResponse">
    <wsdl:part element="ns1:updatePropertiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContentStreamResponse">
    <wsdl:part element="ns1:getContentStreamResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRelationship">
    <wsdl:part element="ns1:createRelationship" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setContentStream">
    <wsdl:part element="ns1:setContentStream" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveObject">
    <wsdl:part element="ns1:moveObject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteObject">
    <wsdl:part element="ns1:deleteObject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPolicyResponse">
    <wsdl:part element="ns1:createPolicyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllowableActions">
    <wsdl:part element="ns1:getAllowableActions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProperties">
    <wsdl:part element="ns1:getProperties" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProperties">
    <wsdl:part element="ns1:updateProperties" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPolicy">
    <wsdl:part element="ns1:createPolicy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveObjectResponse">
    <wsdl:part element="ns1:moveObjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:binding name="ObjectServiceSoapBinding" type="ns1:ObjectServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setContentStream">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setContentStream">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setContentStreamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="StorageException">
        <soap:fault name="StorageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ContentAlreadyExistsException">
        <soap:fault name="ContentAlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRelationship">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createRelationship">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRelationshipResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="StorageException">
        <soap:fault name="StorageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContentStream">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getContentStream">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getContentStreamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="StorageException">
        <soap:fault name="StorageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OffsetException">
        <soap:fault name="OffsetException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProperties">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createFolder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createFolder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createFolderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteContentStream">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteContentStream">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteContentStreamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="StorageException">
        <soap:fault name="StorageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VersioningException">
        <soap:fault name="VersioningException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="moveObject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="moveObject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="moveObjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotInFolderException">
        <soap:fault name="NotInFolderException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteObject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteObject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteObjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteTree">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteTree">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTreeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPolicy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPolicy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPolicyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllowableActions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllowableActions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllowableActionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectService">
    <wsdl:port binding="tns:ObjectServiceSoapBinding" name="ObjectServicePort">
      <soap:address location="http://localhost:8080/alfresco/cmis/ObjectService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>