trunk/CMISSpaces/.wsdl/general/PolicyService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyServicePort" targetNamespace="http://www.cmis.org/ns/1.0">
  <wsdl:import location="http://localhost:8080/alfresco/cmis/PolicyService?wsdl=PolicyServicePort.wsdl" namespace="http://www.cmis.org/2008/05">
    </wsdl:import>
  <wsdl:message name="applyPolicy">
    <wsdl:part element="ns1:applyPolicy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removePolicyResponse">
    <wsdl:part element="ns1:removePolicyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removePolicy">
    <wsdl:part element="ns1:removePolicy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppliedPolicies">
    <wsdl:part element="ns1:getAppliedPolicies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="applyPolicyResponse">
    <wsdl:part element="ns1:applyPolicyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppliedPoliciesResponse">
    <wsdl:part element="ns1:getAppliedPoliciesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:binding name="PolicyServicePortSoapBinding" type="ns1:PolicyServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removePolicy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removePolicy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removePolicyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAppliedPolicies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAppliedPolicies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAppliedPoliciesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="applyPolicy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="applyPolicy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="applyPolicyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyServicePort">
    <wsdl:port binding="tns:PolicyServicePortSoapBinding" name="PolicyServicePort">
      <soap:address location="http://localhost:8080/alfresco/cmis/PolicyService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>