trunk/CMISSpaces/.wsdl/general/VersioningService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VersioningService" targetNamespace="http://www.cmis.org/ns/1.0">
  <wsdl:import location="http://localhost:8080/alfresco/cmis/VersioningService?wsdl=VersioningServicePort.wsdl" namespace="http://www.cmis.org/2008/05">
    </wsdl:import>
  <wsdl:message name="deleteAllVersionsResponse">
    <wsdl:part element="ns1:deleteAllVersionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesOfLatestVersionResponse">
    <wsdl:part element="ns1:getPropertiesOfLatestVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesOfLatestVersion">
    <wsdl:part element="ns1:getPropertiesOfLatestVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllVersionsResponse">
    <wsdl:part element="ns1:getAllVersionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkIn">
    <wsdl:part element="ns1:checkIn" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkOutResponse">
    <wsdl:part element="ns1:checkOutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelCheckOut">
    <wsdl:part element="ns1:cancelCheckOut" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAllVersions">
    <wsdl:part element="ns1:deleteAllVersions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkInResponse">
    <wsdl:part element="ns1:checkInResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkOut">
    <wsdl:part element="ns1:checkOut" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllVersions">
    <wsdl:part element="ns1:getAllVersions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelCheckOutResponse">
    <wsdl:part element="ns1:cancelCheckOutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:binding name="VersioningServiceSoapBinding" type="ns1:VersioningServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkOut">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkOut">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkOutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkIn">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkIn">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkInResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="StorageException">
        <soap:fault name="StorageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelCheckOut">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelCheckOut">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelCheckOutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesOfLatestVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPropertiesOfLatestVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPropertiesOfLatestVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllVersions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllVersions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllVersionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAllVersions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAllVersions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAllVersionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VersioningService">
    <wsdl:port binding="tns:VersioningServiceSoapBinding" name="VersioningServicePort">
      <soap:address location="http://localhost:8080/alfresco/cmis/VersioningService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>