CMISSpaces/.wsdl/general/NavigationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NavigationService" targetNamespace="http://www.cmis.org/ns/1.0">
  <wsdl:import location="http://localhost:8080/alfresco/cmis/NavigationService?wsdl=NavigationServicePort.wsdl" namespace="http://www.cmis.org/2008/05">
    </wsdl:import>
  <wsdl:message name="getChildren">
    <wsdl:part element="ns1:getChildren" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCheckedoutDocs">
    <wsdl:part element="ns1:getCheckedoutDocs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolderParentResponse">
    <wsdl:part element="ns1:getFolderParentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDescendants">
    <wsdl:part element="ns1:getDescendants" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChildrenResponse">
    <wsdl:part element="ns1:getChildrenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectParents">
    <wsdl:part element="ns1:getObjectParents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectParentsResponse">
    <wsdl:part element="ns1:getObjectParentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDescendantsResponse">
    <wsdl:part element="ns1:getDescendantsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolderParent">
    <wsdl:part element="ns1:getFolderParent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCheckedoutDocsResponse">
    <wsdl:part element="ns1:getCheckedoutDocsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:binding name="NavigationServiceSoapBinding" type="ns1:NavigationServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCheckedoutDocs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCheckedoutDocs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCheckedoutDocsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChildren">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getChildren">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getChildrenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObjectParents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getObjectParents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getObjectParentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolderParent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFolderParent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFolderParentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDescendants">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDescendants">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDescendantsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavigationService">
    <wsdl:port binding="tns:NavigationServiceSoapBinding" name="NavigationServicePort">
      <soap:address location="http://localhost:8080/alfresco/cmis/NavigationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>