CMISSpaces/.wsdl/general/RepositoryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepositoryService" targetNamespace="http://www.cmis.org/ns/1.0">
  <wsdl:import location="http://localhost:8080/alfresco/cmis/RepositoryService?wsdl=RepositoryServicePort.wsdl" namespace="http://www.cmis.org/2008/05">
    </wsdl:import>
  <wsdl:message name="getRepositoryInfoResponse">
    <wsdl:part element="ns1:getRepositoryInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTypes">
    <wsdl:part element="ns1:getTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositoryInfo">
    <wsdl:part element="ns1:getRepositoryInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositoriesResponse">
    <wsdl:part element="ns1:getRepositoriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTypesResponse">
    <wsdl:part element="ns1:getTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTypeDefinitionResponse">
    <wsdl:part element="ns1:getTypeDefinitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositories">
    <wsdl:part element="ns1:getRepositories" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTypeDefinition">
    <wsdl:part element="ns1:getTypeDefinition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:binding name="RepositoryServiceSoapBinding" type="ns1:RepositoryServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTypeDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTypeDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTypeDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRepositoryInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRepositoryInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRepositories">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRepositories">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRepositoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepositoryService">
    <wsdl:port binding="tns:RepositoryServiceSoapBinding" name="RepositoryServicePort">
      <soap:address location="http://localhost:8080/alfresco/cmis/RepositoryService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>